<h1>Click a Song</h1>


<% @songs.each do |song| %>
  <p><strong><%= song.rank %></strong> <%= link_to song.title, billboard_song_path(@billboard, song) %><p> 
  
  <% end %> 
 

<%= link_to 'Create Song', new_billboard_song_path(@billboard) %>

